* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/banner1.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    align-items: center;
}

nav .logo-img {
    width: auto;
    height: 50px;
    cursor: pointer;
}

nav .login-btn {
    display: block;
    background: transparent;
    border-radius: 30px;
    border: 1px solid #fff;
    outline: none;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
}

.hero-section {
    width: 100%;
    max-width: 80%;
    margin: auto;
    text-align: center;
}

.hero-section h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    margin-top: 120px;
    margin-bottom: 10px;
}

.hero-section p {
    color: #fff;
    margin: 20px 0;
}


.header-section form {
    background-color: #fff;
    width: 100%;
    max-width: 70%;
    margin: 10px auto;
    padding: 3px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.header-section form input {
    border: none;
    outline: none;
    flex: 1;
    padding: 10px;
    border-radius: 25px;
    width: 100%;
}

.header-section form button {
    background: linear-gradient(green, blue);
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;

}

/* ----------------featured Section-------------------- */
.featured {
    width: 100%;
    padding-top: 80px;
}

.card-container {
    width: 100%;
    max-width: 80%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: auto;

}

.title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

.card {
    flex: 1 1 calc((100% / 3) - 20px);
    box-shadow: 0 0 4px 1px #ccc;
    border-radius: 4px;

}

.card-img {
    width: 100%;
    position: relative;

}

.card-img img {
    width: 100%;
    border-radius: 4px;
}

.card-img .rating {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    bottom: -20px;

}

.card-img .rating p {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: rgb(255, 81, 0);
    border-radius: 50%;
    color: #fff;
    text-align: center;
    margin-left: 20px;
    margin-top: 30px;
}

.rating .featured-icon {
    background: #fff;
    padding: 10px 0;
    color: rgb(255, 81, 0);
}

.featured-details {
    padding: 20px;
}

.featured-details h3 {
    margin: 10px 0;
}

.featured-details p {
    text-align: justify;
    margin: 20px 0;
}

.trip-info {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.trip-info span {
    margin-right: 5px;
    font-size: 15px;
}

.trip-info .info-item i {
    color: rgb(255, 81, 0);
    font-size: 13px;
}

/* ----------------------Travelling Gallery--------------------- */

.gallery {
    width: 100%;
    background-color: #ccc;
    margin-top: 50px;
    padding: 70px 0 120px;
}

.gallery-items {
    width: 100%;
    max-width: 80%;
    display: flex;
    gap: 20px;
    margin: auto;
    flex-wrap: wrap;
}

.gallery-img {
    flex: 1 1 calc((100% / 4) - 20px);
    position: relative;
}

.gallery-img:hover {
    transform: scale(0.9, 0.9);
    transition: 0.5s;
}

.gallery-img img {
    width: 100%;
    border-radius: 15px;
    filter: brightness(50%);
}

.gallery-img h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 100%;
    text-align: center;
}

/* ----------------call to action----------------------- */

.cta {
    width: 100%;
    background-image: url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    padding: 150px 0;
}

.cta-content {
    background-color: rgba(0, 0, 0, 0.623);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 70px 0;
    color: #fff;



}


.cta-content div h2 {
    color: #fff;
    font-size: 25px;
    margin: 10px 0;
}


.cta-content a {
    text-decoration: none;
    border: 1px solid #fff;
    outline: none;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
    display: inline-block;

}

/* ----------------users reviews section--------------------- */
.reviews {
    padding-top: 90px;
}

.users-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    width: 100%;
    margin: auto;
    gap: 40px;
    padding-bottom: 100px;

}

.user-details {
    box-shadow: 0 0 5px 1px #717070;
    text-align: center;
    position: relative;
    padding: 10px 10px 70px 10px;
    flex: 1 1 calc((100% / 3) - 40px);
}

.user-details i {
    color: blue;
    font-size: 30px;
    padding: 10px 0;
}

.user-details img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    bottom: -20px;
    left: 40%;
    border: 1px solid #333;


}

.user-details h3 {
    padding: 10px 0 5px 0;
}

/* -----------------------footer Section-------------------------------- */

.footer-section {
    background: linear-gradient(rgb(45, 45, 233), rgb(122, 122, 223));
    margin-top: 90px;
    width: 100%;
    padding-top: 90px;
}

.footer-content {
    display: flex;
    width: 100%;
    max-width: 80%;
    margin: auto;
    gap: 40px;
    flex-wrap: wrap;
    color: #fff;
}

.col {
    flex: 1 1 calc((100% / 4) - 40px);
}

.col .footer-img {
    width: 100%;
    margin-bottom: 10px;
}

.col-1 p {
    text-align: justify;
}

.col {
    flex: 1 1 (calc(100% / 4) - 10px);
}

.col h4 {
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 500;
}

.col p {
    margin-bottom: 20px;
    font-size: 14px;
}

.col p i {
    margin-right: 10px;
}

hr {
    width: 80%;
    margin: 20px auto;
}

.copyright {
    text-align: center;
    color: #fff;
    padding: 25px 0;
}

/* --------------Media Query for Responsiveness-------------------- */

@media (max-width:576px) {
    .header-section {
        min-height: 90vh;
    }

    .hero-section form {
        width: 100%;
        max-width: 100%;
        border-radius: 5px;
        display: block;

    }

    .hero-section form input {
        border-bottom: 1px solid #ccc;
        border-radius: 1px;
        text-align: center;
    }

    .header-section form button {
        margin: 10px auto 5px;
    }

    nav {
        padding: 10px;
    }

    nav .logo-img {
        height: 30px;
    }

    .card,
    .gallery-img,
    .user-details,
    .col {
        flex: 1 1 100%;
    }

    .cta-content {
        flex-direction: column;
        text-align: center;
        padding: 20px;

    }

    .cta-content a {
        margin-top: 30px;
    }

}


@media (min-width:577px) and (max-width:992px) {

    .card,
    .gallery-img,
    .col {
        flex: 1 1 calc(50% - 20px);
    }
}